@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PITXOnlineBooking.Models.ViewModels

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PITX</title>

    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!-- NAVBAR -->
    <header>
        <nav>
            <div class="pitxLogo_con">
                <div class="pitxLogo" onclick="location.href=`@Url.Action("Main", "Home")`" style="cursor: pointer;">
                    <img src="~/img/pitxLogo.png" alt="pitxLogo">
                </div>
            </div>
        </nav>
    </header>

    <!-- MAIN -->
    <main class="booking_main">
        <div class="booking_proc">
            <div class="booking_proc_modal_con">
                <div class="booking_top">
                    <p id="page">@ViewBag.Title</p>
                    <div class="redLine"></div>
                    <p><span>Provincial Bus</span></p>
                </div>

                        
                <div class="booking_main_con">
                    @RenderBody()
                </div>

                <div class="booking_bot">
                    <div class="total_con" id="totalCon">
                        <div class="total">
                            <p><span>Total</span></p>
                            <p>₱1,979</p>
                        </div>

                        <div class="subtotal">    
                            <div class="insurance">
                                <p>Insurance</p>
                                <p>₱148</p>
                            </div>

                            <div class="taxes_and_fees">
                                <p>Taxes and fees</p>
                                <p>₱6</p>
                            </div>
                        </div>
                    </div>

                    <div class="booking_btn_con" id="bookingBtnCon">
                        <button id="nextBtn" onclick="location.href=`@Url.Action((string)@ViewBag.Page, "Home")`">Next</button>
                        <button id="payBtn" class="payBtn inactiveBtn" onclick="location.href=`@Url.Action("GCashMain", "GCash")`">Pay ₱1.979</button>
                        <button id="homeBtn" class="homeBtn inactiveBtn" onclick="location.href=`@Url.Action("Main", "Home")`">Back to home</button>
                    </div>
                </div>
            </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="footer_con">
            <div class="pitxLogo_footer" onclick="location.href=`@Url.Action("Main", "Home")`" style="cursor: pointer;">
                <img src="~/img/pitxLogo2.png" alt="pitxLogoFooter">
            </div>

            <div class="footer_para_con">
                <p>Paranaque Integrated Terminal Exchange, #1 Kennedy Rd., Tambo, Paranaque City</p>

                <p>© Company 2025 All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!-- POP UP -->
    <div class="popup_con" id="popUpCon">

        <!-- SUCCESS PAYMENT -->
        <div class="payment_success" id="successPayPopUp">
            <img id="closeBtn" class="close_pay_success" src="~/icons/close.svg" alt="close">
            <p>Payment Succesful</p>
            <div class="payment_success_heading">
                <p><span class="redText">Thank you, </span><span class="blueText">friend!</span></p>
                <div class="redLine"></div>
            </div>
            <p>Your payment of ₱1,979.00 has been successfully received</p>
            <p class="safeTripMotto">Have a safe trip by <span class="blueText">PI</span><span class="redText">TX</span></p>
        </div>


        <!-- RECEIPT -->
        <div class="receipt_popUp" id="receiptPopUp">
            <div class="receipt_popUp_top">
                <img id="closeBtn" class="close_receipt_popUp" src="~/icons/closeWhite.svg" alt="close">
                <p>Passenger Receipt</p>
            </div>
    
            <div class="receipt_popUp_con">
                <div class="receipt_popUp_main">
                    <div class="receipt_popUp_main_top">
                        <p><span>Ticket NO./OR</span> : ERJAL181100000010</p>
                        <div class="receipt_popUp_passenger_info">
                            <p>Passengers Information</p>
                            <ul>
                                <li>John Migz Reyes, child</li>
                                <li>Miguel Reyes, adult</li>
                            </ul>
                        </div>
                    </div>

                    <div class="receipt_popUp_trip_info_con">
                        <p>Trip Information</p>
                        <div class="receipt_popUp_trip_info">
                            <div class="receipt_popUp_trip_info_det">
                                <p class="receipt_popUp_heading">Departure date</p>
                                <p class="receipt_popUp_info"> <span>Mon, Nov 3, 2025, 06:00 am —</span> Paranaque Integrated Terminal Exchange, Manila - Legazpi, Grand Central Terminal</p>
                            </div>

                            <div class="receipt_popUp_trip_info_det">
                                <p class="receipt_popUp_heading">Payment Method</p>
                                <div class="receipt_popUp_pay_method_con">
                                    <p>PayMaya</p>
                                    <div class="receipt_popUp_payment_logo">
                                        <img src="~/img/mayaLogo.png" alt="mayaLogo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>

                <div class="receipt_main_con">
                    <div class="receipt_main">
                        <div class="receipt_information_con">
                            <div>
                                <div class="receipt_info">
                                    <p class="info_head">Departure</p>
                                    <p>Paranaque Integrated Terminal Exchange, Manila</p>
                                </div>

                                <div class="receipt_info">
                                    <p class="info_head">Destination</p>
                                    <p>Legazpi, Grand Central Terminal</p>
                                </div>
                            </div>

                            <div>
                                <div class="receipt_info">
                                    <p class="info_head">Departure Date</p>
                                    <p>Mon, Nov 3, 2025, 06:00 am</p>
                                </div>

                                <div class="receipt_info">
                                    <p class="info_head">Trip No#</p>
                                    <p>EAMD039</p>
                                </div>
                            </div>

                            <div>
                                <div class="receipt_info">
                                    <p class="info_head">Gate</p>
                                    <p>G07</p>
                                </div>

                                <div class="receipt_info">
                                    <p class="info_head">Bay</p>
                                    <p>D23</p>
                                </div>
                            </div>

                            <div>
                                <div class="receipt_info">
                                    <p class="info_head">Date Booked</p>
                                    <p>11/2/2025 12:45 pm</p>
                                </div>

                                <div class="receipt_info">
                                    <p class="info_head">Fare</p>
                                    <p>₱1,979.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>


        <!-- BUS PIC -->
        <div class="busPic_popUp inside" id="busPicInsidePopUp">
            <img src="~/img/bus/dltbco/insideBus.png" alt="insideBus">
        </div>

        <div class="busPic_popUp outside" id="busPicOutsidePopUp">
            <img src="~/img/bus/dltbco/bus.png" alt="bus">
        </div>
    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
