@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using PITXOnlineBooking.Data
@model PITXOnlineBooking.Models.ViewModels

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PITX</title>

    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!-- NAVBAR -->
    <header>
        <nav>
            <div class="pitxLogo_con">
                <div class="pitxLogo" onclick="location.href=`@Url.Action("Main", "Home")`" style="cursor: pointer;">
                    <img src="~/img/pitxLogo.png" alt="pitxLogo">
                </div>
            </div>
        </nav>
    </header>

    <!-- MAIN -->
    <main class="booking_main">
        <div class="booking_proc">
            <div class="booking_proc_modal_con">
                <div class="booking_top">
                    <p id="page">@ViewBag.Title</p>
                    <div class="redLine"></div>
                    <p><span>Provincial Bus</span></p>
                </div>

                        
                <div class="booking_main_con">
                    @RenderBody()
                </div>
            </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="footer_con">
            <div class="pitxLogo_footer" onclick="location.href=`@Url.Action("Main", "Home")`" style="cursor: pointer;">
                <img src="~/img/pitxLogo2.png" alt="pitxLogoFooter">
            </div>

            <div class="footer_para_con">
                <p>Paranaque Integrated Terminal Exchange, #1 Kennedy Rd., Tambo, Paranaque City</p>

                <p>© Company 2025 All rights reserved.</p>
            </div>
        </div>
    </footer>


    <!-- POP UP -->
    <div class="popup_con" id="popUpCon">
        <!-- ERROR -->
        <div class="pop_up_alert_con" id="popUpAlert">
            <div class="pop_up_alert_heading">
                <img id="closeBtn" class="close" src="~/icons/close.svg" alt="close">
                <p>Oops!</p>
            </div>

            <div class="pop_up_alert_para">
                <p id="popUpAlertText"></p>
            </div>
        </div>

        @RenderSection("PopUpCon", required: false)
    </div>

    <script src="~/js/booking.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
