@{
    ViewData["Title"] = "Booking";
}

<div class="booking">
    <div class="booking_con">
        <div class="booking_con_top">
            <div class="opacity_booking"></div>

            <div class="pitxHubImg">
                <img src="~/img/pitxHub.png" alt="pitxHub">
            </div>
        </div>

        <div class="booking_modal_con">
            <div class="booking_modal_con_top">
                <h3>Your Trip Starts Here</h3>
                <div class="redLine"></div>
            </div>

            <div class="booking_modal_main">
                <div class="booking_modal_main_top">
                    <h3><span>Provincial</span> Bus Trip</h3>
                    <h4>Paranaque PITX to <span id="destinationCity">Legazpi</span>, <span id="destinationProvince">Bicol</span></h4>
                </div>

                <div class="departureDestination_con">
                    <div class="departureDestinationInput">
                        <div class="departureDestination_top">
                            <p>Departure</p>
                            <p>Destination</p>
                        </div>

                        <div class="departureDestination">
                            <h4>Paranaque PITX</h4>
                            <div class="departureDestinationArrow">
                                <img src="~/icons/departureDestinationArrow.svg" alt="departureDestinationArrow">
                            </div>

                            <h4 id="destinationInput">Legazpi</h4>
                        </div>

                        <!-- DESTINATION POP UP -->
                        <div class="destination_input_popUp" id="destinationInputPopUp">
                            <div class="destination_input_popUp_top">
                                <p><span>To</span></p>
                                <div class="destination_popUp_input">
                                    <input type="text" placeholder="Legazpi" id="placeholderDestination" name="destination">
                                </div>
                            </div>

                            <p><span>Popular Destination from Paranaque PITX</span></p>
                            <div class="destination_popUp_list">
                                <ul id="destinationList">
                                    <li>
                                        <div class="destination_popUp_con">
                                            <div class="pinPoint" id="chosenDestination">
                                                <img src="~/icons/locationRed.svg" alt="location">
                                            </div>

                                            <p><span>Legazpi</span>, Philippines</p>
                                        </div>
                                    </li>

                                     <li>
                                        <div class="destination_popUp_con">
                                            <div class="pinPoint">
                                                <img src="~/icons/location.svg" alt="location">
                                            </div>

                                            <p><span>Baguio</span>, Philippines</p>
                                        </div>
                                    </li>

                                     <li>
                                        <div class="destination_popUp_con">
                                            <div class="pinPoint">
                                                <img src="~/icons/location.svg" alt="location">
                                            </div>

                                            <p><span>Sorsogon</span>, Philippines</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="destination_popUp_con">
                                            <div class="pinPoint">
                                                <img src="~/icons/location.svg" alt="location">
                                            </div>

                                            <p><span>Naga</span>, Philippines</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="checkTripBtn_con">
                        <button id="checkTripsBtn">Check Trips</button>
                    </div>
                </div>

                <div class="booking_modal_date">
                    <h4>Date</h4>
                    <div class="booking_modal_date_con">
                        <p class="today">Today</p>
                        <p class="tomorrow">Tomorrow</p>
                        <div class="date_con">
                            <p>Mon, Nov</p>
                            <p>3</p>
                        </div>

                        <div class="date_con">
                            <p>Tues, Nov</p>
                            <p>4</p>
                        </div>

                        <div class="date_con">
                            <p>Wed, Nov</p>
                            <p>5</p>
                        </div>

                        <div class="date_con">
                            <p>Thurs, Nov</p>
                            <p>6</p>
                        </div>

                        <div class="date_con">
                            <p>Fri, Nov</p>
                            <p>7</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="booking_bus_list_con">

        <!-- BOOKING LIST FOR LAPTOPS AND TABLETS -->
        <ul id="laptopTabletBookingList" class="booking_bus_trip_list">

        </ul>

        <!-- BOOKING LIST FOR PHONE -->
        <ul id="phoneBookingList" class="booking_bus_trip_list">


        </ul>
    </div>
</div>