@{
    ViewData["Title"] = "Passengers";
}

<div class="passengers">

    <div class="booking_summary_con">
        <div class="booking_timer_con">
            <p>Please compute the booking within <span id="bookingTimer">00:30:00</span></p>
        </div>

        <div class="trip_summary_con">
            <p>Trip Summary</p>
            <div class="trip_summary_info">
                <div class="trip_summary_departure">
                    <p>Departure date</p>
                    <div class="trip_summary_departure_info">
                        <p><span id="departureTime">Mon, Nov, 2025, 06:00 am</span>— Paranaque Integrated Terminal Exchange, Manila - <span id="destination"></span></p>
                    </div> 
                </div>




            </div>
        </div>
    </div>

    <div class="passenger_detail_con">
        <div class="passenger_contact_con">
            <p>Contact Details</p>
            <div class="passenger_contact_input">
                <div class="passenger_mobile_input">
                    <p>Mobile</p>
                    <div class="mobile_input">
                        <label for="mobile">+63</label>
                        <input type="number" class="input" name="mobile" id="mobile" autocomplete="off" required>
                    </div>
                </div>

                <div class="passenger_email_input">
                    <p>Email</p>
                    <input type="email" class="input" name="email" id="email" required>
                </div>
            </div>
        </div>

        <div class="passenger_info_con">
            <div class="main_passenger_con">
                <p>Main Passenger</p>
                <div class="passenger_info_input_con">
                    <div class="passenger_info_input">
                        <p>First Name</p>
                        <input type="text" class="input" name="firstName" id="firstName">
                    </div>

                    <div class="passenger_info_input">
                        <p>Last Name</p>
                        <input type="text" class="input" name="lastName" id="lastName">
                    </div>
                
                    <div class="passenger_info_input">
                        <p>Date of Birth</p>
                        <input class="dateInput" class="input" type="date" name="birthDate" id="birthDate">
                    </div>
                </div>
            </div>

            <div id="passengerCon" class="extra_passenger_main">
                <!-- EXTRA PASSENGER CON -->
            </div>
            
        </div>
        
        <div class="add_passenger_con">
            <div class="add_passenger" id="addPassengerBtn">
                <div class="add_icon">
                    <img src="~/icons/add.svg" alt="addIcon">
                </div>
                <p>Add a passenger</p>
            </div>
        </div>

    </div>

    <div class="travel_insurance_con"> 
        <p>Travel Insurance</p>

        <div class="insurance_bus_img_con">
            <div class="insurance_bus_img">
                <img src="~/img/busImg.png" alt="busImg">
            </div>
        </div>

        <div class="travel_insurance_info_con">
            <div class="travel_insurance_input_con">
                <p>Insurance Package</p>
                <div class="insurance_input inputTag" id="insuranceBtn">
                    <p class="insuranceBtnText">Package C = ₱148 (1 x <span class="insurancePax"></span> pax)</p> 
                    <div class="dropdownArrow">
                        <img src="~/icons/dropdownArrow.svg" alt="dropdownArrow">
                    </div>
                </div>

                <!-- INSURANCE POP UP -->
                <div class="insurance_popUp" id="insurancePopUp">
                    <div class="insurance_input">
                        <p class="insuranceBtnText" >Package C = ₱148 (1 x <span class="insurancePax"></span> pax)</p>
                    </div>

                    <div class="insurance_popUp_choice">
                        <ul>
                            <li id="noInsurance">
                                <p>No Insurance</p>
                            </li>

                            <li id="packageA">
                                <p>Package A = ₱332 (1 x <span class="insurancePax"></span> pax)</p>
                            </li>
                            
                            <li id="packageB">
                                <p>Package B = ₱222 (1 x <span class="insurancePax"></span> pax)</p>
                            </li>

                            <li id="packageC">
                                <p>Package C = ₱148 (1 x <span class="insurancePax"></span> pax)</p>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <p class="motto_insurance">Travel with peace of mind.</p>
            </div>

            <div class="insurance_package_details_cons">
                <p><span>Pack A</span> Personal Accident - <span>₱900,000</span> Medical Expenses - <span>₱90,000</span></p>
                <p><span>Pack B</span> Personal Accident - <span>₱500,000</span> Medical Expenses - <span>₱50,000</span></p>
                <p><span>Pack C</span> Personal Accident - <span>₱100,000</span> Medical Expenses - <span>₱100,000</span></p>
            </div>

            <p class="duration"><span>Duration:</span> 24 hours from the departure</p>
        </div>
    </div>

</div>

<div class="booking_bot">
    <div class="total_con" id="totalCon">
        <div class="total">
            <p><span>Total</span></p>
            <p>₱<span id="totalPrice"></span></p>
        </div>

        <div class="subtotal">    
            <div class="insurance">
                <p>Insurance</p>
                <p>₱<span id="insurance" ></span></p>
            </div>

            <div class="taxes_and_fees">
                <p>Taxes and fees</p>
                <p>₱6</p>
            </div>
        </div>
    </div>

    <div class="booking_btn_con" id="bookingBtnCon">
        <button id="nextBtn">Next</button>
    </div>
</div>